.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 30px;
  grid-template-rows: 250px 200px 250px 200px 250px 200px 200px;
  width: 100%;

  font-weight: lighter;
  h2,
  h3,
  p {
    margin-bottom: 1rem;
  }
  .blurb {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: 90%;
    background: #ffffff;
    color: #000000;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .large {
    width: 88%;
    h4 {
      margin-bottom: 0;
      font-weight: 200;
    }
  }

  .xlarge {
    width: 90%;
    h4 {
      margin-bottom: 0;
      font-weight: 200;
    }
  }

  .small {
    width: 78%;
    flex-direction: column;
    justify-content: space-between;
    h3 {
      font-size: 1rem;
      margin-bottom: 0;
      //   font-family: "Open Sans", sans-serif;
      font-weight: 600;
    }
  }

  .item1 {
    grid-column: span 12;
    grid-row: 1;
    position: relative;
  }

  .item2 {
    grid-column: span 12;
    position: relative;
  }

  .item3 {
    grid-column: span 12;
    position: relative;
  }

  .item4 {
    grid-column: span 6;
    position: relative;
  }

  .item5 {
    grid-column: span 6;
    position: relative;
  }
  .item6 {
    grid-column: span 12;
    position: relative;
  }
  .item7 {
    grid-column: span 6;
    position: relative;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    margin: 0;
    grid-column: span 3;
    grid-row: 2;
    position: relative;
  }

  @media only screen and (min-width: 768px) {
    .item1 {
      grid-column: span 4;
    }

    .item2 {
      grid-column: span 8;
    }

    .item3 {
      grid-column: span 6;
      grid-row: 2;
    }

    .item4 {
      grid-column: span 3;
      grid-row: 2;
    }

    .item5 {
      grid-column: span 3;
      grid-row: 2;
    }
    .item7 {
      grid-column: span 3;
      grid-row: 4;
    }
    .xlarge {
      width: 94%;
    }
  }
}

.wrapper {
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .heading {
    text-align: center;
    width: 9ch;
    animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 2em;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
