.footer {
    margin-top: 3rem;
    font-family: "Noto Sans", sans-serif;
    font-size: .7rem;
    margin-right: 1.3rem;
    display: flex;
    justify-content: space-between;
}

@media only screen and (min-width: 769px) {
    .footer {
        text-align: right;
        display: inline-block;
    }
}