//mobile nav
.mobile-nav{
  padding: 18px 0;
  position: fixed;
  max-width: 1150px;
  top: 0;
  bottom: 0;
width: 100%;
  height: 100%;
  z-index: 10;
  background: rgb(238, 239, 236);
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  nav{
    flex: 100%;
    height: 80%;
    ul{
    list-style: none; flex-direction: column;

    }
  }
}

// desktop nav
.nav-item {
  color: #999999;
  font-size: 0.82rem;
  margin-right: 1.3rem;
  text-decoration: none;
  font-family: "Noto Sans", sans-serif;
}

.nav-item:hover {
  color: #000000;
}

.header {
  padding: 1rem 0 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.title:hover {
  opacity: 0.7;
}
.title{
  img{
    height: 78px;
  }
}
.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
}

.active-nav-item {
  color: #333333;
  // font-weight: bold;
}

.nav-icon3 {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 0 .5rem 1.45rem 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #000000;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

  span:nth-child(1) {
    top: 0px;
  }

  span:nth-child(2),
  span:nth-child(3) {
    top: 18px;
  }

  span:nth-child(4) {
    top: 36px;
  }
}

.open {
  span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

  span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
}


@media only screen and (min-width: 768px) {
  .header {
    justify-content: space-between;
  }
}