.list {
    list-style: none;
    display: flex;
    font-size: 1.1rem;
    
    li:nth-last-child(-n+3){
        cursor: pointer;
    }

    :first-child {
        display: flex;
        justify-content: center;
        margin-right: 20px;
    }

    li:first-of-type {
        display: none;
    }

    .vr {
        height: 1px;
        width: 80px;
        background: black;
        margin-top: 9px;
    }
}

@media only screen and (min-width: 769px) {
    .list {
        list-style: none;
        position: absolute;
        left: .45rem;
        display: block;

        :first-child {
            display: flex;
            justify-content: center;
            margin-right: 0;
        }

        li:first-of-type {
            display: flex;
        }

        li:not(:first-child):hover {
            transform: scale(1.2);
            transition: 300ms ease-out;
        }

        .vr {
            height: 4.5rem;
            width: 1px;
            background: black;
            margin-bottom: 30px;
        }
    }
}